@using GeradorDeTiagoes.WebApp.ViewModels
@model SubjectDetailsViewModel

@{
    ViewBag.Titulo = "Detalhes da Matéria";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes da Matéria</h3>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                        @ViewBag.ErrorMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="row my-4">
                    <div class="mt-2">
                        <label class="control-label"><strong>Nome:</strong> @Model.Name</label>
                    </div>

                    <div class="mt-2">
                        <label class="control-label"><strong>Série:</strong> @Model.GradeLevel</label>
                    </div>

                    <div class="mt-2">
                        <label class="control-label"><strong>Disciplina:</strong> @Model.DisciplineName</label>
                    </div>

                    <div class="mt-2">
                        <label class="control-label"><strong>Questões vinculadas:</strong> @Model.QuestionCount</label>
                    </div>
                </div>

                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                    <a href="/subject">Voltar para a listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>